/* the universal selector */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* the body selector */
body {
    background-color: #000000;
    color: #ffffff;
}

/* header */
.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#000000b3,#000000b3), url("/src/img/header-image.png");
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    width: 9.25rem;
    height: 2.5rem;
    display: block;
}

nav button {
    border: 0;
    outline: 0;
    background: #db0001;
    color: #ffffff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
}

.header-content h1 {
    font-size: 50px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}

.header-content h3 {
    font-weight: 400;
    margin-bottom: 20px;
}

.email-sign-up {
    background: #ffffff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}

.email-sign-up input {
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}

.email-sign-up button {
    background: #db0001;
    border: 0;
    outline: 0;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}

/* the body 1st feature */

.features {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Spread items evenly */
    padding: 50px 12%; /* Add padding to pull away from screen edge */
    border-top: .5rem #1a1818 solid;    
}

.text-col {
    flex: 1;
    padding-right: 20px; /* Add padding between text and image */
    text-align: left; /* Align text to the left */
}

.img-col {
    flex: 1;
    text-align: right;
}

.img-col img {
    max-width: 100%;
    height: auto;
}


.features h2 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 20px;
}

.features p{
    font-size: 1.5rem;
    font-weight: 400;
}

.features2 {
    flex-direction: row-reverse;
}

.faq {
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
    border-top: .5rem solid #1a1818;
}

.faq h2 {
    font-size: 3rem;
    font-weight: 900;
}

.accordian {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordian li {
    list-style: none;
    width: 100%;
    padding: 5px;

}

.accordian li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background-color: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    po
}